/*Fonts*/

@font-face {
    font-family: 'a_love_of_thunderregular';
    src: url('fonts/Cumberland_GodofThunder_Web/a_love_of_thunder-webfont.eot');
    src: url('fonts/Cumberland_GodofThunder_Web/a_love_of_thunder-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cumberland_GodofThunder_Web/a_love_of_thunder-webfont.woff') format('woff'),
         url('fonts/Cumberland_GodofThunder_Web/a_love_of_thunder-webfont.ttf') format('truetype'),
         url('fonts/Cumberland_GodofThunder_Web/a_love_of_thunder-webfont.svg#a_love_of_thunderregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MonospaceTypewriterRegular';
    src: url('fonts/MonospaceTypewriter/MonospaceTypewriter-webfont.eot');
    src: url('fonts/MonospaceTypewriter/MonospaceTypewriter-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MonospaceTypewriter/MonospaceTypewriter-webfont.woff') format('woff'),
         url('fonts/MonospaceTypewriter/MonospaceTypewriter-webfont.ttf') format('truetype'),
         url('fonts/MonospaceTypewriter/MonospaceTypewriter-webfont.svg#MonospaceTypewriterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}