/*MODULES*/


/* Ticker Styling */

/* -- JQUERY NEWS TICKER -- */

section#news-ticker-box {
  width: 100%;
  overflow: hidden;
  margin: 0; 
}

h3.news-box-latest {
  float: left;
  width: 13%;
  color: #fff;
  text-align: center;
  background: $red;
  padding: 8px 3px;
  margin: 0;  
  border: 1px solid #09021d;
}

.jq-news-ticker {
    width: 85%;
    height: 1.8em;
    overflow: hidden;
    float: right;
    padding: 5px 10px;
    background-color: #fff;
    box-shadow: inset 0px 0px .25em rgba(0, 0, 0, .3);
    border: 1px solid #09021d;
    border-radius: 5px;
}

.jq-news-ticker .jq-news-ticker-items {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
    }
.jq-news-ticker .jq-news-ticker-item {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
    white-space: nowrap;
    line-height: 1em;
}

.jq-news-ticker .jq-news-ticker-item-focus {}

.marquee {
  width: 740px;
  overflow: hidden;
  padding: 8px 2px 9px 2px;
  border:1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc; 
}

.marquee-item {
  padding-right: 100px;
}