body.single-memorabilia .single-content {
  width: 100%; 
}

.intro-left {
  width: 20%; 
}

/* ---- masonry ---- */

.isotope {
  width: 78%; 
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .item ---- */

.single-memorabigit lia .item {
  float: left;
  width: 225px;
  height: auto;
  background: transparent; 
  padding: 2px; 
  margin: 0;
}

.item img {
  border: none;
}

/*.item.width2 { width: 300px; }
.item.height2 { height: 300px; }*/